.Geez-AI {
  background-image: url("./images-1/104.avif");
  background-size: cover; /* make the image cover the whole area */
  background-position: center; /* center the image */
  background-repeat: no-repeat; /* prevent repeating */
  height: 100vh; /* full viewport height */
  color: white; /* make text visible over dark image */
  text-align: center; /* center text horizontally */
  display: flex; /* center text vertically */
  flex-direction: column;
  align-items: center; /* center the image */
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Geez-AI h1 {
  font-size: 60px;
  margin-top: 30px;
}
.Geez-AI h7 {
  font-size: 30px;
  margin: 0.5rem 0 2rem;
}
.Geez-AI .button button {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  border-width: 1px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
}
.Geez-AI .button button:hover {
  background-color: #0d79e6;
  color: #fff;
}
.but1 {
  border: none;
  background-color: #0071e3;
  color: #fff;
}
.but2 {
  background-color: #000;
  color: #0071e3;
  border-color: #0071e3;
}
.no-underline {
  text-decoration: none;   /* removes underline */
  color: inherit;           /* keeps text same color as surrounding text */
}

.no-underline:hover {
  text-decoration: none;    /* make sure hover doesn't add underline */
}
